.media{
    display:block;
    @extend .cf;
}
.media__img{
    float:left;
    margin-right:$line-height-computed;
}

.media__img--rev{
    float:right;
    margin-right: 0;
    margin-left:$line-height-computed;
}

.media__img img,
.media__img--rev img{
    display:block;
}

.media__body{
    overflow:hidden;
}
.media__body,
.media__body > :last-child{
    margin-bottom:0;
}


.islet .media__img,
.media--small .media__img{
    margin-right:$line-height-computed / 2;
}
.islet .media__img--rev,
.media--small .media__img--rev{
    margin-left:$line-height-computed / 2;
}

.media__img--small{
  @extend .media__img;
  margin-right: $half-spacing-unit;
}


.media-break--small{
    .media__img{
      @media #{$small-max} {
          float:none;
          margin-right:0;
          margin-left:0;
          margin-bottom: $half-spacing-unit;
      }
    }
}
