* {
  @include box-sizing(border-box);
  &:before,
  &:after {
    @include box-sizing(border-box);
  }
}


// Body reset

html {
  font-size: em($font-size-base, 16);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-font-smoothing: antialiased;
}

body {
  background-size: 100%;
  font-family: $font-family-base;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
  color: $color-text-body;
  background-color: $body-bg;
  overflow-x: hidden;
}

// Reset fonts for relevant elements
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}


// Links

a {
  color: $link-color;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: none;
  }

  &:focus {
    @include tab-focus();
  }
}

figure {
  margin: 0;
}

// Horizontal rules

hr {
  margin-top:    $line-height-computed;
  margin-bottom: $line-height-computed;
  border: 0;
  border-top: 1px solid $hr-border;
}
