@font-face {
	font-family: 'wlabel';
	src:url('../fonts/wlabel.eot?yc3glx');
	src:url('../fonts/wlabel.eot?#iefixyc3glx') format('embedded-opentype'),
		url('../fonts/wlabel.ttf?yc3glx') format('truetype'),
		url('../fonts/wlabel.woff?yc3glx') format('woff'),
		url('../fonts/wlabel.svg?yc3glx#wlabel') format('svg');
	font-weight: normal;
	font-style: normal;
}