.button-border{
  border: 1px solid;
  text-transform: uppercase;
  transition: all 0.2s ease-in;
  background-color: transparent;
}

.button-border--black{
  border-color: black;
  color: black;
  &:hover,
  &:active,
  &:focus{
    color: white;
    background-color: black;
  }
}
