
// display classes
.display-none {
  display: none;
}

.display-inline {
  display: inline;
}

.display-inline-block,
.inline-block {
  display: inline-block;
}

.display-block,
.block {
  display: block !important;
}

.hidden {
  display: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0 ;
}

.sr-only-focusable {
  &:active,
  &:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
  }
}

.ir{
  @extend %hide-text;
}
