@mixin vertical-gradient($start-color: #555, $end-color: #333, $start-percent: 0%, $end-percent: 100%) {
  background-image: -webkit-linear-gradient(top, $start-color $start-percent, $end-color $end-percent);
  background-image: -o-linear-gradient(top, $start-color $start-percent, $end-color $end-percent);
  background-image: unquote("linear-gradient(to bottom, #{$start-color} #{$start-percent}, #{$end-color} #{$end-percent} )");
  background-repeat: repeat-x;
}
